{% extends 'car_dealer_navbar.html' %} {% block title %}Edit Car{%endblock %} {% block content %}
{% include 'messages.html' %}
<section>
	<div class="row d-flex justify-content-center align-items-center">
		<form method="post" enctype="multipart/form-data" class="row">
			{% csrf_token %}
			<div class="text-center text-white mb-5">
				<h3>Edit <span>{{ car.name|title }}</span> Car</h3>
			</div>
			<div class="col-12 mb-3">
				<input
					type="text"
					class="form-control form-control-lg"
					name="car_name"
                    value="{{ car.name }}"
					placeholder="Name of the Car"
                    required />
			</div>
			<div class="col-md-6 mb-3">
				<input
					type="text"
					class="form-control form-control-lg"
					name="city"
                    value="{{ car.location.city }}"
					placeholder="City"
                    required />
			</div>
			<div class="col-md-6">
				<input type="file" class="form-control form-control-lg" name="image"
                value="{{ car.image.url }}"
                />
			</div>
			<div class="col-md-6">
				<input
					type="number"
					class="form-control form-control-lg"
					name="capacity"
                    value="{{ car.capacity }}"
					placeholder="Number of Seats"
                    required />
			</div>
			<div class="col-md-6">
				<input
					type="number"
					class="form-control form-control-lg"
					name="rent"
                    value="{{ car.rent }}"
					placeholder="Rent (per day)"
                    required />
			</div>
            <div class="">
                <button type="submit" class="btn btn-lg mt-3 mb-5">Submit</button>
            </div>
		</form>
        
	</div>
</section>
{% endblock %}
